.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-box {
  background: white;
  padding: 30px 20px;
  border-radius: 12px;
  text-align: center;
  max-width: 90%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal-box h3{
    margin-bottom: 15px;
}

.modal-box form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-box input,
.modal-box textarea {
  padding: 8px;
  font-size: 14px;
}
